---
---

@import "{{ site.theme }}";

#main_content {
    margin-left: 260px;
    width: auto;
}

#navigation {
    width: 260px;
    float: left;
}

code.highlighter-rouge {
    color: #b5e853
}

blockquote {
    color: #63c0f5;
    padding-left: 20px;
    border-left: 3px dotted #b5e853;
    margin-inline-start: 20px;
}

header h1 a {
    color: #b5e853;
}